body{
  margin: 0 auto;
  display: block;
  justify-content: center;
  font-family: helvetica;
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563 , #29323c);
  background: linear-gradient(to left, #485563 , #29323c);

  background: #BA5370; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #BA5370 , #F4E2D8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #BA5370 , #F4E2D8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	background: #403A3E; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #403A3E , #BE5869); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #403A3E , #BE5869); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h2{
  padding-bottom: 1%;
  border-bottom: 3px solid rgba(255,255, 255, .3);
  width: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

h3{
  color: white;
  width: 50%;
  text-align: center;

}

li{
  list-style: none;
  text-align: justify;
  margin-top: 12%;

}
.menu{
  position: fixed;
}
ul{
  position: fixed;
}
input{
  width: 60%;
  padding: 1em;
  margin-top: 5%;
  color: gray;
  border: 1px solid transparent;
  border-radius: 5px 0px 0px 5px;
  border-top: 3px solid rgba(255,255,255, .3);
  border-bottom: 3px solid rgba(255,255,255, .3);
  border-left:  1px solid rgba(255,255,255, .3);
}

label{
  color: gray;
  padding: 1em;

}

img{
  height: 90%;
  width: 90%;
  border-radius: 5px;
  border: 3px solid rgba(255,255,255, .513);
 }

#allImages,
#allPlaces, #favImages, #favPlaces{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  padding: 1em;
  width: 100%;
}

#img-containerID{
  padding: 1em;
  width: 15.5vw;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid red;
  padding-bottom: 2.5em;
  margin: 1.5%;
  border: 2px solid rgba(255,255,255, .64);
  border-radius: 5px;
  background: rgba(255,255, 255, .4);
}




#favImages>#img-containerID{
	height: 45vh;
	width: 20vw;
}
#favImages>#img-containerID>img{
 height: 70%;
 width: 70%;
}

#update{
	width: 80%
}

#search-glass{
  background: transparent;
  width: auto;
  color: white;
  font-size: 1.5em;
  border: 1px solid transparent;
  padding: .4em;
  padding-bottom: .6em;
  cursor: pointer;
  background: gray;
  border-radius: 0px 5px 5px 0px;
  border-bottom: 1px solid rgba(255,255,255, .3);
  border-top: 2px solid rgba(255,255,255, .3);
  border-right:  1px solid rgba(255,255,255, .3);
}

button{
  background: rgba(255,255,255, .89);
  border-radius: 5px;
  padding: .6em;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: 6%;
  margin-right: 2%;
  border: 1px solid gray;
  width: 48%;
  font-size: .8em;
  color: gray;
}

button:hover{
    border: 1px solid darkslate;
    background: rgba(255,255,255, .97);
    color: #111111;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.left, .right{
  text-align: center;
  color: white;
}

.left{
  width: 20vw;
  padding: 1em;
  padding-top: 10em;
  height: 100vh;
  border-right: 1px solid rgba(255,255,255,.897);
}

.right{
  width: 80vw;
  padding: 3em;
  border-left: 1px solid rgba(255,255,255,.897);
  background-size: cover;
  background-position: left 50% center;
  background-attachment: fixed;

  background-image: -moz-linear-gradient(to top, rgba(206, 206, 206, 0.37), rgba(86, 86, 86, 0.7)), url("back3.jpg");
	background-image: -webkit-linear-gradient(to top, rgba(206, 206, 206, 0.37), rgba(86, 86, 86, 0.7)), url("back3.jpg");
	background-image: -ms-linear-gradient(to top, rgba(206, 206, 206, 0.137), rgba(86, 86, 86, 0.7)), url("back3.jpg");
	background-image: linear-gradient(to top, rgba(206, 206, 206, 0.1365417), rgba(66, 66, 66, 0.65417)), url("back8.jpg");
}

#home,
#favs-place,
#favs-image,
#favs-image-clear,
#favs-place-clear{
  cursor: pointer;
}

#home:hover,
#favs-place:hover,
#favs-image:hover{
  color: #ff6666;
}

#allPlaces{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

#weatherid{
  order: 1;
  font-size: 1.2em;
  padding: 1em;
  margin-right: 4em;
}

#flex-main{
  order: 2;
  display: flex;
  flex-direction: column;
}

#results-name{
  font-size: 3em;
  text-transform: uppercase;
}

#tempid{
  font-size: 6em;
  font-weight: bold;
}

#mainid{
  order: 3;
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-left: 3em;
  padding: 1em;
  padding-top: 1.5em;
  text-align: center;
}

#addWeather{
  broder: 3px solid blue;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 1em;
  letter-spacing: .3em;
  text-align:center;
  font-size: 1em;
  width: 100%;
  color: darkslategray;
}


#view-id, #delete-id, #update-id{
  width: 70%;
}

#p-id{
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 1em;
  color: #ff6666;
}


#footer{
  border-top: 1px solid white;
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563 , #29323c);
  background: linear-gradient(to left, #485563 , #29323c);
	color: white;
	padding: .2em;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer .copyright {
	color: white;
	text-align: center;
	font-size: 1em;
	width: 50%;
	display: block;
	margin: 0 auto;
}

#footer .copyright:before {
	content: '';
	display: block;
	margin: 0 auto 2rem auto;
	opacity: 0.5;
}

textarea{
  color: gray;
  text-transform: none;
}



#favPlaces{
padding-top: 4em;
}

#cardContainerID{
display: flex;
flex-direction: column;
border: 3px solid purple;
background: rgba(255,255, 255, .742);
border: 3px solid rgba(0,0,0,.3);
justify-content: center;
 align-items: center;
 	border-radius: 5px;
	margin: 1%;
	width: 40%;


}

#cardWrapperID{
	display: flex;
	flex-direction: column;

}

#nameCardID{
	order: 1;
	color: #403a3e;
	border-bottom:  3px solid rgba(0,0,0,.24);
	align-items: center;
	padding: .6em;
	background: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .2em;
	font-size: 1.2em;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}


#cardSplitID{
	order: 2;
	display: flex;
	flex-direction: row;
}


#buttonCardID{
	border-right: 3px solid rgba(0,0,0,.24);
	padding: 1em;

}

#buttonCardId>button{
	color: #403a3e;
	padding: 1em;
}


#commentCardID{
	padding: 3em;
	color: #403a3e;
	font-family: noteworthy;
	letter-spacing: .1em;
	font-size:1.1em;

}



#updateAreaID{
  order: 3;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 1em;
	text-align: center;
	border: 3px solid green;
	width: 100%;

}



#textAreaID{
	border-radius: 5px;
	height: 50%;
	text-align: center;
	align-items: center;
	padding: .5em;

}
