body{
  margin: 0 auto;
  display: block;
  justify-content: center;
  font-family: helvetica;
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563 , #29323c);
  background: linear-gradient(to left, #485563 , #29323c);
}

h2{
  padding-bottom: 1%;
  border-bottom: 3px solid rgba(255,255, 255, .3);
  width: 50%;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 5%;
}

h3{
  color: white;
  width: 50%;
  text-align: center;
}

li{
  list-style: none;
  text-align: justify;
  margin-top: 12%;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
 }

.menu{
  position: fixed;
  z-index: 2;
}
input{
  width: 60%;
  padding: 1em;
  margin-top: 5%;
  color: gray;
  border: 1px solid transparent;
  border-radius: 5px 0px 0px 5px;
  border-top: 3px solid rgba(255,255,255, .3);
  border-bottom: 3px solid rgba(255,255,255, .3);
  border-left:  1px solid rgba(255,255,255, .3);
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;
}

label{
  color: gray;
  padding: 1em;
}

img{
  height: 90%;
  width: 90%;
  border-radius: 5px;
  border: 3px solid rgba(255,255,255, .513);
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
}

#allImages,
#allPlaces, #favImagesContainer, #favPlacesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  padding: 1em;
  width: 95%;
}

#img-containerID{
  padding: 1em;
  width: 15.5vw;
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid red;
  padding-bottom: 3.5em;
  margin: 1.5%;
  border: 2px solid rgba(0,0,0, .264);
  border-radius: 5px;
  background: rgba(255,255, 255, .64);

   /*-webkit-transition*/
   -webkit-transition:
     width 1.5s,
     height 1.5s,
     background 2s,
     -webkit-transform 2s,
     color 2s,
     border-top-color 0.15s linear,
     border-right-color 0.15s linear 0.15s,
     border-bottom-color 0.15s linear 0.25s,
     border-left-color 0.15s linear 0.25s;

   /*-moz-transition:*/
   -moz-transition:
     width 1.5s,
     height 1.5s,
     background 2s,
     -webkit-transform 2s,
     color 2s,
     border-top-color 0.15s linear,
     border-right-color 0.15s linear 0.15s,
     border-bottom-color 0.15s linear 0.25s,
     border-left-color 0.15s linear 0.25s;

  /*-o-transition:*/
  -o-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

    /*transition:*/
   transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;
}

#img-containerID:hover{
	width: 30%;
  height: 35vh;
  border: 3px solid  #634855;
}

#favImages>#img-containerID{
	height: 45vh;
	width: 20vw;
}

#favImages>#img-containerID>img{
 height: 70%;
 width: 70%;
}

#update{
	width: 80%
}

#search-glass{
  background: transparent;
  width: auto;
  color: white;
  font-size: 1.5em;
  border: 1px solid transparent;
  padding: .4em;
  padding-bottom: .6em;
  cursor: pointer;
  background: rgba(50,50,50,.923);
  border-radius: 0px 5px 5px 0px;
  border-bottom: 1px solid rgba(255,255,255, .3);
  border-top: 2px solid rgba(255,255,255, .3);
  border-right:  1px solid rgba(255,255,255, .3);
}

#search-glass:hover{
  background: rgba(200,200,200,.193);
}

button{
  background: rgba(255,255,255, .89);
  border-radius: 5px;
  padding: .6em;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: 6%;
  margin-right: 2%;
  border: 1px solid gray;
  width: 48%;
  font-size: .8em;
  color: gray;
  margin:  0 auto;
  margin-top:  5%;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
 }

button:hover{
    border: 1px solid darkslate;
    background: rgba(255,255,255, .97);
    color: #634855;
}

.wrapper{
  display: flex;
  flex-direction: row;
}

.left, .right{
  text-align: center;
  color: white;
}

.left{
  width: 20vw;
  padding: 1em;
  padding-top: 10em;
  height: 95vh;
  border-right: 1px dotted rgba(255,255,255,.897);
  z-index: 1;
}
.right{
  width: 80vw;
  padding: 3em;
  border-left: 1px solid rgba(255,255,255,.897);
  background-size: cover;
  background-position: left 50% center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: -moz-linear-gradient(to top, rgba(206, 206, 206, 0.37), rgba(86, 86, 86, 0.7)), url("back4.jpg");
	background-image: -webkit-linear-gradient(to top, rgba(206, 206, 206, 0.37), rgba(86, 86, 86, 0.7)), url("back4.jpg");
	background-image: -ms-linear-gradient(to top, rgba(206, 206, 206, 0.137), rgba(86, 86, 86, 0.7)), url("back4.jpg");
	background-image: linear-gradient(to top, rgba(206, 206, 206, 0.1365417), rgba(106, 106, 106, 0.65417)), url("back4.jpg");
}

#home,
#favs-place,
#favs-image,
#favs-image-clear,
#favs-place-clear,
#mvp-checklist,
button{
  cursor: pointer;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

  /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
}

#home:hover,
#favs-place:hover,
#favs-image:hover,
#favs-image-clear:hover,
#favs-place-clear:hover,
#mvp-checklist:hover{
  color: #ff6666;
}

#allPlaces{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em;
}

#weatherid{
  order: 1;
  font-size: 1.2em;
  padding: 1em;
  margin-right: 4em;
}

#flex-main{
  order: 2;
  display: flex;
  flex-direction: column;
}

#results-name{
  font-size: 3em;
  text-transform: uppercase;
}

#tempid{
  font-size: 6em;
  font-weight: bold;
}

#mainid{
  order: 3;
  width: 25%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  margin-left: 3em;
  padding: 1em;
  padding-top: 1.5em;
  text-align: center;
}

#addWeather{
  border: 1px solid transparent;
  border-radius: 0;
  padding: 1em;
  letter-spacing: .3em;
  text-align:center;
  font-size: 1em;
  width: 100%;
  color: darkslategray;
}

#addWeather:hover{
  background: rgba(255,255, 255, .94);
  color: #634855;
}

#view-id, #delete-id, #update-id{
  width: 90%;
  padding:  1em;
}

#p-id{
  text-transform: uppercase;
  font-size: 1.5em;
  padding-top: 1em;
  color: #ff6666;
}

#footer{
  border-top: 1px dotted white;
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563 , #29323c);
  background: linear-gradient(to left, #485563 , #29323c);
	color: white;
	padding: .2em;
  height: 15vh;
  display: flex;
  align-items: center;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
}

#footer .copyright {
	color: white;
	text-align: center;
	font-size: 1em;
	width: 50%;
	display: block;
	margin: 0 auto;
}

#footer .copyright:before {
	content: '';
	display: block;
	margin: 0 auto 2rem auto;
	opacity: 0.5;
}

textarea{
  color: gray;
  text-transform: none;
}

#cardContainerID, .cardContainer{
  display: flex;
  flex-direction: column;
  border: 3px solid purple;
  background: rgba(255,255, 255, .56742);
  border: 3px solid rgba(0,0,0,.3);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 1%;
  width: 40%;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
}

#cardContainerID:hover, .cardContainer:hover{
   background: rgba(255,255,255, .9);
   border: 3px solid  #634855;
}

#cardWrapperID, .cardWrapper{
	display: flex;
	flex-direction: column;
}

#nameCardID{
	order: 1;
	color: #403a3e;
	border-bottom:  3px solid rgba(0,0,0,.24);
	align-items: center;
	padding: .6em;
	background: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .2em;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
}

#nameCardID:hover{
  color: #634855;
}

#cardSplitID{
	order: 2;
	display: flex;
	flex-direction: row;

}

#buttonCardID{
	border-right: 3px solid rgba(0,0,0,.24);
	padding: 1em;
	margin-top: 5%;
}

#buttonCardId>button{
	color: #403a3e;
	padding: 1em;
  /*-webkit-transition*/
  -webkit-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

  /*-moz-transition:*/
  -moz-transition:
    width 1.5s,
    height 1.5s,
    background 2s,
    -webkit-transform 2s,
    color 2s,
    border-top-color 0.15s linear,
    border-right-color 0.15s linear 0.15s,
    border-bottom-color 0.15s linear 0.25s,
    border-left-color 0.15s linear 0.25s;

 /*-o-transition:*/
 -o-transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   -webkit-transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;

   /*transition:*/
  transition:
   width 1.5s,
   height 1.5s,
   background 2s,
   transform 2s,
   color 2s,
   border-top-color 0.15s linear,
   border-right-color 0.15s linear 0.15s,
   border-bottom-color 0.15s linear 0.25s,
   border-left-color 0.15s linear 0.25s;
}

#buttonCardId>button:hover{
  color: #634855;
}

#commentCardID{
	padding: 3em;
	color: #403a3e;
	font-family: noteworthy;
	letter-spacing: .1em;

}

#updateAreaID, .updateArea{
  order: 3;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 1em;
	text-align: center;
	width: 100%;
}

#textAreaID{
	border-radius: 5px;
	height: 50%;
	text-align: center;
	align-items: center;
	padding: .5em;
}

.message{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2em;
  border: 1px dotted white;
  margin-top: 5%;
  padding: 2em;
  width: 90%;
  line-height: 2em;
  background: rgba(0,0,0,.13);
}

#mvpArea{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#infoID{
  border: 3px solid gray;
  border-radius: 5px;
  background: rgba(255,255,255,.93);
  display: block;
  width: 90%;
  padding: 1em;
  margin-top: 3%;
}

#infoID ul li{
  color: gray;
  padding: .5em;
  margin: 1%;
  list-style: disc;
}

#mvpArea h3{
	padding: .5em;
	border-bottom: dotted 1px white;
 	 display: block;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}

#mvpArea.hide{
  display: none;
}

#mvpArea.show{
  display: flex;
}
#favPlaces, #favImages{
	display: flex;
	flex-direction: column;
	margin-top: 5%;
}


#favPlaces h3{
	padding: 1em;
	margin: 0 auto;
	border-bottom: 1px dotted white;
}


#favImages h3{
	padding: 1em;
	margin: 0 auto;
	border-bottom: 1px dotted white;
}

/*ipad*/
/*@media screen and (max-width: 980px){

}*/

/*mobil*/
/*@media screen and (max-width: 736px),
@media screen and (max-width: 480px),*/
@media screen and (max-width: 320px) {

  .message{
    font-size: .8em;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
    background: rgba(250,250,250,.8561);
    width: 80%;
    line-height: 3em;
    color: gray;
    border-radius: 5px;
    border: 1px dotted gray;
  }

  h4{
    line-height: 3em;
  }

  input{
    padding: .5em;
    width: 80%;
  }

  #search-glass{
    padding: .5em;
    font-size: 1.2em;
    padding: .5em;
  }

  h4{
    font-size: 1em;
  }

  body{
    display: block;
    margin: 0 auto;
  }
  h2{
    font-size: 1.5em;
    width: 100%;
  }

  h3{
    font-size: 1em;
  }

  .right, .left{
    width: 100%;
    padding: 1em;
  }

  .left{
    height: 10vh;
    margin: 0 auto;
    padding: 0px;
    margin: 0;

  }

  .right{
    min-height: 75vh;
  }

  .menu{
    padding: 0px;
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1em;
    background: #485563;
    background: -webkit-linear-gradient(to left, #485563 , #29323c);
    background: linear-gradient(to left, #485563 , #29323c);
  }

  .wrapper{
    display: flex;
    flex-direction: column;
  }

  li{
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
  }

  #allImages,
  #allPlaces, #favImagesContainer, #favPlacesContainer{
    display: flex;
    flex-direction: column-reverse;
  }

  span{
    display: none;
  }

  #infoID{
    width: 100%;
  }

  #infoID>ul li{
    list-style: none;
    margin: 0 auto;
    text-align: center;
    margin-right: 15%;
    border-bottom: 1px dotted gray;
  }

  #cardContainerID, .cardContainer{
    width: 100%;
  }

  #favImagesContainer{
    margin: 0 auto;
    justify-content: center;

  }

    #img-containerID{
      padding: 1em;
      width: 95%;
      height: 40vh;
      padding-bottom: 2em;
}

    #img-containerID:hover{
      width: 95%;
      height: 40vh;
      border: 3px solid  #634855;
    }

    #favImages>#img-containerID{
    	height: 40vh;
    	width: 10vw;
    }

    #favImages>#img-containerID>img{
     height: 40%;
     width: 40%;
    }

    #footer .copyright {
    	width: 40%;
    }

    #allPlaces{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
    }

    #flex-main{
      order: 1;
      margin: 0 auto;
      width: 100%;
    }

    #weatherid{
      order: 3;
      font-size: 1.2em;
      padding: 0px;
      width: 100%;
      margin: 0 auto;
      margin-top: -3%;
    }

    #results-name{
      font-size: 2em;
    }

    #tempid{
      order: 1;
      font-size: 4em;
    }

    #mainid{
      order: 2;
      width: 100%;
      font-size: 1.2em;
      padding: 1em;
      margin: 0 auto;
      margin-top: 5%;
    }
}
